# Ignore virtual environment
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

database.ini
__pycache__/interface.cpython-38.pyc
__pycache__/explore.cpython-38.pyc
__pycache__/interface.cpython-38.pyc
